h1{
    font-size: 64px;
    text-align: center;
}
h2{
    font-size: 42px;
}
a{
    font-size: 32px;
}
p{
    font-size: 32px;
    text-align: center;
}
li{
    font-size: 32px;
    text-align: left;
}
body{
    background-color: rgb(3, 0, 44);
    color: rgb(214, 214, 214);
    font-size: 32px;
    text-align: center;
}
